//===== aside menu ======
.aside-panel.aside-menu
	.aside-container
		.btn-close
		.aside-panel__title
			.title-48 Menu
		nav.aside-menu__list
			//=== single block ====
			.aside-menu__list-block
				a(href="categories.html") Solar panels
				a(href="#!") Heat pumps
				a(href="#!") Bathroom and Kitchen improvement
				a(href="#!") Glazing
				a(href="#!") Home chargers #[span for electric cars]
			
			//=== single block ====
			.aside-menu__list-block
				a(href="review.html") Reviews
				a(href="comparison.html") Comparison
				a(href="article.html") Articles
			
			//=== single block ====
			.aside-menu__list-block
				a(href="#!") Sign in
			
		.aside-menu__img
			.card-bg(style="background-image: url(./img/card-bg.jpg);")
				p Members receive great discounts, get quotes from top home improvement companies and stay up to date with design trends
				a.btn-round.btn-round--yellow(href="#!")
					span Sign up now
					span.arrowRight-black