header.header
	.container
		.header__title.mb-40
			h1.title-96 Our top heater offers
		
		.header__text.grid-50.mb-60
			.header__text-col
				p All of our boilers are a hybrid-ready. This means that they will both now and in the future, can be coupled to a hybrid heat pump.
			.header__text-col
				p Would or have you completely off the accelerator? Also, we have the solution with our GasLos warranty
			
		.grid-850
			.card-bg(style="background-image: url(./img/card-bg2.jpg);")
				.text-24 Members receive great discounts, get quotes <br> from top home improvement companies and more
				button.btn-round.btn-round--yellow(data-quiz)
					span Get assistance
					span.arrowRight-black

