section.category-cards.pt-80
	.container
		.category-cards-wrapper
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
					.label.label--red Popular
				//==== image =====
				.category-card__img
					img(src="./img/cat1.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="5")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Solution
						p HERE A 24/18
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 10 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $25/month
						.info-item
							span Power: 17 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
				//==== image =====
				.category-card__img
					img(src="./img/cat2.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="4")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Remeha
						p Tzerra Ace-24c
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 11,2 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $26/month
						.info-item
							span Power: 20,9 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
					.label.label--red Popular
				//==== image =====
				.category-card__img
					img(src="./img/cat1.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="5")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Solution
						p HERE A 24/18
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 10 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $25/month
						.info-item
							span Power: 17 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
				//==== image =====
				.category-card__img
					img(src="./img/cat2.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="4")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Remeha
						p Tzerra Ace-24c
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 11,2 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $26/month
						.info-item
							span Power: 20,9 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
					.label.label--red Popular
				//==== image =====
				.category-card__img
					img(src="./img/cat1.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="5")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Solution
						p HERE A 24/18
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 10 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $25/month
						.info-item
							span Power: 17 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight
			//============ single card ===========
			a(href='#').category-card
				.category-card__label
					.label CW3
				//==== image =====
				.category-card__img
					img(src="./img/cat2.png",  alt="categogy")
				//====text =====
				.category-card__text
					.rating-block(data-rating="4")
						span
						span
						span
						span
						span
					.category-card__title
						.title-38 Remeha
						p Tzerra Ace-24c
					.category-card__info
						.info-item__row
							.info-item
								span Hot water:
								p 11,2 l/min
							
							.info-item
								span Monthly Cost:
								p.text-green $26/month
						.info-item
							span Power: 20,9 kW
				//====button====
				.category-card__btn
					.btn-round
						span Read review
						span.arrowRight

		//==========section button==========
		.button-wrapper.text-center.mt-50
			a(href="#!").btn-round-light.btn-large
				span Show more heaters