header.header
	.container
		.header__title.mb-40
			h1.title-96 Top-5 Solar Panel Systems
		
		.header__text.mb-40
			.header__text-col
				p Join those who have trusted us to help them make smarter buying decisions.
			.header__text-col
				p Let our expert reviews and shopping recommendations help you find the Solar Panel System that's perfect for you
			
		.brend-cards
			.title-24.mb-20 As seen on
			.brend-cards-wrapper
				
				.brend-card
					img(src="./img/brend1.png",  alt="logo")
				.brend-card
					img(src="./img/brend2.png", alt="logo")
				.brend-card
					img(src="./img/brend3.png", alt="logo")

