section.top-products
	.container
		
		//============ ADT card ===========
		.adt-card.favorite-card
			.product-card.product-card--horizontal
				.product-card__top
					.product-card__label
						.label.label--red Winner
						.label FAVORITE VALUE
						
					//==== image =====
					.product-card__img
						img(src="./img/adt.png", width="180" height="180" alt="adt")
				//====text =====
				.product-descrip
					.rating-block(data-rating="5")
						span
						span
						span
						span
						span
					.product-descrip__title
						.title-38 ADT
						p The most favorite DIY system 
					.product-descrip__info
						.info-item__row
							.info-item
								span Equipment Cost:
								p $226
							
							.info-item
								span Monthly Cost:
								p.text-green $14.99/month
						.info-item
							span Installation Cost: N/A
				//====button====
				.product-card__btn
					.card-bg(style="background-image: url(./img/card-bg3.jpg);")
						p Black November Sale Extended: 
							span 50% Off Equipment + Free Camera
						a.btn-round.btn-round--red(href="#!")
							span Sign up online
							span.arrowRight
					a(href="#").btn-light Read in-depth review

		//============ Vivint card ===========
		.vivint-card.favorite-card
			.product-card.product-card--horizontal
				.product-card__top
					.product-card__label
						.label.label--red.label--num 2
						.label WELL KNOWN
						
					//==== image =====
					.product-card__img
						img(src="./img/vivint.png", width="300" height="70" alt="vivint")
				//====text =====
				.product-descrip
					.rating-block(data-rating="4")
						span
						span
						span
						span
						span
					.product-descrip__title
						.title-38 Vivint
						p Expert installation & service
					.product-descrip__info
						.info-item__row
							.info-item
								span Equipment Cost:
								p $850
							
							.info-item
								span Monthly Cost:
								p.text-green $52.99/month
						.info-item
							span Installation Cost: $99
				//====button====
				.product-card__btn
					a.btn-round(href="#!")
						span Request a quote
						span.arrowRight
					a(href="#").btn-light Read in-depth review 

		
		//============ Simpli-card ===========
		.simpli-card.favorite-card
			.product-card.product-card--horizontal
				.product-card__top
					.product-card__label
						.label.label--red.label--num 3
						.label MOST features
						
					//==== image =====
					.product-card__img
						img(src="./img/simpli.png", width="300" height="60" alt="simpli")
				//====text =====
				.product-descrip
					.rating-block(data-rating="4")
						span
						span
						span
						span
						span
					.product-descrip__title
						.title-38 SimpliSafe
						p Perfect home automation
					.product-descrip__info
						.info-item__row
							.info-item
								span Equipment Cost:
								p $599
							
							.info-item
								span Monthly Cost:
								p.text-green $39.99/month
						.info-item
							span Installation Cost: $49
				//====button====
				.product-card__btn
					a.btn-round(href="#!")
						span Request a quote
						span.arrowRight
					a(href="#").btn-light Read in-depth review
		
		//============ Cove-card ===========
		.cove-card.favorite-card
			.product-card.product-card--horizontal
				.product-card__top
					.product-card__label
						.label.label--red.label--num 4
						.label most PORTABLE
						
					//==== image =====
					.product-card__img
						img(src="./img/cove.png", width="263" height="40" alt="cove")
				//====text =====
				.product-descrip
					.rating-block(data-rating="3")
						span
						span
						span
						span
						span
					.product-descrip__title
						.title-38 Cove
						p Largest solar energy hub
					.product-descrip__info
						.info-item__row
							.info-item
								span Equipment Cost:
								p $259
							
							.info-item
								span Monthly Cost:
								p.text-green $15.99/month
						.info-item
							span Installation Cost: $79
				//====button====
				.product-card__btn
					a.btn-round(href="#!")
						span Request a quote
						span.arrowRight
					a(href="#").btn-light Read in-depth review 
		
		//============ Cove-card ===========
		.front-card.favorite-card
			.product-card.product-card--horizontal
				.product-card__top
					.product-card__label
						.label.label--red.label--num 5
						.label most CHOICES
						
					//==== image =====
					.product-card__img
						img(src="./img/front.png", width="300" height="90" alt="cove")
				//====text =====
				.product-descrip
					.rating-block(data-rating="3")
						span
						span
						span
						span
						span
					.product-descrip__title
						.title-38 Frontpoint
						p Simplest pre-built packages
					.product-descrip__info
						.info-item__row
							.info-item
								span Equipment Cost:
								p $319
							
							.info-item
								span Monthly Cost:
								p.text-green $40.40/month
						.info-item
							span Installation Cost: $79
				//====button====
				.product-card__btn
					a.btn-round(href="#!")
						span Request a quote
						span.arrowRight
					a(href="#").btn-light Installation Cost: N/A