//=============== FOOTER ===============
footer.footer.wrapper-decore
	.container
		.footer-logo.mb-40
			a(href="#!").logo #[span the ] green home
		.footer-menu.mb-60
			nav
				a(href="#") About Us
				a(href="#") Partner with Us
				a(href="#") Contacts
				a(href="#") Terms of Use
				a(href="#") Privacy Policy
				a(href="#") Cookie Policy
		.footer-text.mb-60
			p Designed to help users make confident decisions online, this website contains information about a wide range of products and services. Certain details, including but not
			a(href="#").bold-link SHOW MORE
		.footer-terms.mb-40
			p By using our content, products & services you agree to our #[a(href="#!") Term  of Service] and #[a(href="#!") Privacy Policy]
		.footer-copyright
			p &copy; 2020—2022 All Rights Reserved