//========header-top=======
.header-top
	.container
		.header-top__content
			.header-top__col
				a(href="index.html").logo #[span the ] green home
				a(href="comparison.html").link-button
					span.arrow-left
					span Back to top-5 list
			.nav-icon
				span
		