header.header
	.container
		.header__title
			h1.title-96 Everything you will ever need know to make #[br] your home eco-perfect
		
		.number-cards-wrapper
			.number-card
				.text-94 256
				.text-24 home improvement articles and guides 
			
			.number-card.number-card--light
				.text-94 76
				.text-24 home improvement company reviews

			.card-bg(style="background-image: url(./img/card-bg.jpg);")
				.text-24 Members receive great discounts, get quotes <br> from top home improvement companies and more
				a.btn-round.btn-round--yellow(href="#!")
					span Sign up now
					span.arrowRight

