//============== number-cards bottom ===================
section.statistic-cards.pt-120
	.container
		//===============number cards =============
		.number-cards-wrapper.wrapper--reverse
			.card-bg(style="background-image: url(./img/card-bg.jpg);")
				.text-24.mb-40 Get a complete home improvement guide via email now. Absolutely free
				form
					.form-item
						.form-item.form-item--base
							input(type="text" name="user_email" placeholder="Input your email")
					
					.form-btn
						button.btn-round.btn-round--yellow(type="submit")
							span Get the guide
							span.arrowRight-black
			
			.number-card
				.text-186 24
				.text-24 pages of money saving information
			
			.number-card.bg-white
				.text-186 11
				.text-24 experts worked <br> on this guide

			