header.header
	.container
		.header-banner-wrapper
			
			.card-link-banner.text-center(style="background-image: url(./img/review-banner2.jpg)")
				.card-link-banner__text
					.border-text Review
					.title-88 Vivint Smart Homes
					.text-24 The company’s philosophy is simple: Quality and Comfort <br>does not have to be expensive to afford
			
			.header-banner__right
				.product-card-mini.vivint-card
					.product-card__img
						img(src="./img/vivint.png", width="220" height="60" alt="")
				.number-card.number-card--light
					.number-card-row
						span.star-green
						.text-94.text-green 5.0
					.text-24 home improvement articles and guides 

