//====================== REWIEW CARDS===========
section.reviews.pt-120
	.container
		.section-title
			.title-88 Latest reviews
			.text-24 made by home improvement experts and authors
		
		.card-link-wrapper
			.card-link-wrapper__left

				.card-link-banner.text-center(style="background-image: url(./img/review-banner.jpg)")
					.card-link-banner__text
						.rating-block(data-rating="5")
							span
							span
							span
							span
							span
						.title-44 Adventure homes
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive to afford
			.card-link-wrapper__right
				a(href="#!").card-link
					.card-link__left
						.text-24 TRU Homes
						.rating-block(data-rating="5")
							span
							span
							span
							span
							span
						p Specialize in energy efficient homes with high insulation that provide very comfortable temperature inside a house
					.card-link__right
						img(src="./img/post1.jpg", width="280" height="176"  alt="")
				a(href="#!").card-link
					.card-link__left
						.text-24 Champion Home Builders
						
						.rating-block(data-rating="4")
							span
							span
							span
							span
							span
						
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive 
					
					.card-link__right
						img(src="./img/post2.jpg", width="280" height="176"  alt="")
				
				a(href="#!").card-link
					.card-link__left
						.text-24 Fleetwood Homes
						.rating-block(data-rating="3")
							span
							span
							span
							span
							span
						p Specialize in energy efficient homes with high insulation that provide very comfortable temperature inside a house
					.card-link__right
						img(src="./img/post3.jpg", width="280" height="176"  alt="")

		//==========section button==========
		.button-wrapper.text-center.mt-50
			a(href="#!").btn-round
				span Check all articles
				span.arrowRight