
.container
	
	ul.test
		li
			
			.area-range
				.range-results-wrap
					.range-results
						| 50 m
						sup 2
					.range-total
						| 390 m
						sup 3
				.range
					input(type='range' min='1' max='6' steps='1' value='1')
				ul.range-labels
					li.active.selected
						.range-results
							| 50 m
							sup 2
						.range-total
							| 130 m
							sup 3
					li
						.range-results
							| 100 m
							sup 2
						.range-total
							| 260 m
							sup 3
					li
						.range-results
							| 150 m
							sup 2
						.range-total
							| 390 m
							sup 3
					li
						.range-results
							| 200 m
							sup 2
						.range-total
							| 520 m
							sup 3
					li
						.range-results
							| 650 m
							sup 2
						.range-total
							| 390 m
							sup 3
					li
						.range-results
							| 780 m
							sup 2
						.range-total
							| 390 m
							sup 3
			.form-btn
				button.btn-arrow
					span.arrowGray
				button.btn-round-light
					span Next step
					span.arrowRight-green
		li
			.li-item.title-96 title-96
			pre.
				.title-96 title-96
			br
			
			.title-88 title-88
			pre.
				.title-88 title-88
			br
			
			.title-48.text-green title-48
			pre.
				.title-48.text-green title-48
			br
			
			.title-38 title-38
			pre.
				.title-38 title-38
			br
			
			.text-186 24
			pre.
				.text-186 24
			br
			
			.text-94 256
			pre.
				.text-94 256

		li
			button.btn
				span Request a quote
				span.arrowRight
			pre.
				.btn
					span Request a quote
					span.arrowRight
		li
			a(href="#!").btn-round
				span Request a quote
				span.arrowRight
			pre.
				.btn-round
					span Request a quote
					span.arrowRight
		li
			h3(style="margin-bottom: 15px;") input[type="submit"] as button
			.submit-arrow
				input(type="submit" value="Request a quote ").btn-round.btn-round--yellow
				span.arrowRight
			pre.
				.submit-arrow
					input(type="submit" value="Request a quote ").btn-round.btn-round--yellow
					span.arrowRight
		li
			.btn-round.btn-round--yellow
				span Request a quote
				span.arrowRight
			pre.
				.btn-round.btn-round--yellow
					span Request a quote
					span.arrowRight

		li
			.btn-round-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-round-light
					span Request a quote
					span.arrowRight
		li
			
			.btn-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-light
					span Request a quote
					span.arrowRight

		li
			.label.label--red Popular
			pre.
				.label.label--red Popular
			
		li
			.label CW3
			pre.
				.label CW3

		li
			.card-bg(style="background-image: url(./img/card-bg.jpg);")
				p Members receive great discounts, get quotes from top home improvement companies and stay up to date with design trends
				a.btn-round.btn-round--yellow(href="#!")
					span Sign up now
					span.arrowRight
			pre.
				.card-bg(style="background-image: url(./img/card-bg.jpg);")
					p Members receive great discounts, get quotes from top home improvement companies and stay up to date with design trends
					a.btn-round.btn-round--yellow(href="#!")
						span Sign up now
						span.arrowRight
		li(style="background-color:  #F7F7F7;")
			.form-item
				input(type="text" name="" placeholder="Heating and hot water supply")
			.form-item
				input(type="text" name="" placeholder="Heating and hot water supply")
			.form-item
				input(type="text" name="" placeholder="Heating and hot water supply")
			
			pre.
				.form-item
					input(type="text" name="" placeholder="Heating and hot water supply")
		
		li(style="background-color:  #348AA7;")
			.form-item.form-item--base
				label Zip Code
				input(type="text" name="")
			.form-row
				.form-item.form-item--base
					label Zip Code
					input(type="text" name="")
				.form-item.form-item--base
					label Zip Code
					input(type="text" name="")
			.form-btn
				button.btn-arrow
					span.arrowGray
				button.btn-round-light
					span Next step
					span.arrowRight-green
			pre.
				.form-item.form-item--base
					label Zip Code
					input(type="text" name="")
				.form-row
					.form-item.form-item--base
						label Zip Code
						input(type="text" name="")
					.form-item.form-item--base
						label Zip Code
						input(type="text" name="")
				.form-btn
					button.btn-arrow
						span.arrowGray
					button.btn-round-light
						span Next step
						span.arrowRight-green

		li
			.title-38 Do you have a tub or two showers?
			.form-item.form-item--base
				label.custom-radiobutton
					input(type="radio" name="house_type")
					span Apartment
			.form-item.form-item--base
				label.custom-radiobutton
					input(type="radio" name="house_type")
					span Apartment2
			.form-item.form-item--base
				label.custom-radiobutton
					input(type="radio" name="house_type")
					span Apartment3
			.form-btn
				button.btn-arrow
					span.arrowGray
				button.btn-round-light
					span Next step
					span.arrowRight-green