
.container
	
	ul.test
		li
			.li-item.title-96 title-96
			pre.
				.title-96 title-96
			br
			
			.title-88 title-88
			pre.
				.title-88 title-88
			br
			
			.title-48 title-48
			pre.
				.title-48 title-48
			br
			
			.title-38 title-38
			pre.
				.title-38 title-38
			br
			
			.text-186 24
			pre.
				.text-186 24
			br
			
			.text-94 256
			pre.
				.text-94 256

		li
			button.btn
				span Request a quote
				span.arrowRight
			pre.
				.btn
					span Request a quote
					span.arrowRight
		li
			a(href="#!").btn-round
				span Request a quote
				span.arrowRight
			pre.
				.btn-round
					span Request a quote
					span.arrowRight
		li
			h3(style="margin-bottom: 15px;") input[type="submit"] as button
			.submit-arrow
				input(type="submit" value="Request a quote ").btn-round.btn-round--yellow
				span.arrowRight
			pre.
				.submit-arrow
					input(type="submit" value="Request a quote ").btn-round.btn-round--yellow
					span.arrowRight
		li
			.btn-round.btn-round--yellow
				span Request a quote
				span.arrowRight
			pre.
				.btn-round.btn-round--yellow
					span Request a quote
					span.arrowRight

		li
			.btn-round-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-round-light
					span Request a quote
					span.arrowRight
		li
			
			.btn-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-light
					span Request a quote
					span.arrowRight

		li
			.label.label--red Popular
			pre.
				.label.label--red Popular
			
		li
			.label CW3
			pre.
				.label CW3

		li
			.card-btn(style="background-image: url(./img/card-bg.jpg);")
				p Members receive great discounts, get quotes from top home improvement companies and stay up to date with design trends
				a.btn-round.btn-round--yellow(href="#!")
					span Sign up now
					span.arrowRight
			pre.
				.card-btn(style="background-image: url(./img/card-bg.jpg);")
					p Members receive great discounts, get quotes from top home improvement companies and stay up to date with design trends
					a.btn-round.btn-round--yellow(href="#!")
						span Sign up now
						span.arrowRight
		li(style="background-color:  #F7F7F7;")
			.form-item
				input(type="text" placeholder="Heating and hot water supply")
			
			pre.
				.form-item
					input(type="text" placeholder="Heating and hot water supply")
		
		li(style="background-color:  #348AA7;")
			.form-item.form-item--base
				label Zip Code
				input(type="text" placeholder="Heating and hot water supply")
			
			pre.
				.form-item.form-item--base
					label Zip Code
					input(type="text" placeholder="Heating and hot water supply")