.container
	ul.test
		li
			.nav-icon
				span

		li
			.btn
				span Request a quote
				span.arrowRight
			pre.
				.btn
					span Request a quote
					span.arrowRight
		li
			.btn-round
				span Request a quote
				span.arrowRight
			pre.
				.btn-round
					span Request a quote
					span.arrowRight
		li
			.btn-round.btn-round--yellow
				span Request a quote
				span.arrowRight
			pre.
				.btn-round
					span Request a quote
					span.arrowRight

		li
			.btn-round-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-round-light
					span Request a quote
					span.arrowRight
		li
			
			.btn-light
				span Request a quote
				span.arrowRight-green
			pre.
				.btn-light
					span Request a quote
					span.arrowRight

		li
			.label.label--red Popular
			pre.
				.label.label--red Popular
			
		li
			.label CW3
			pre.
				.label CW3