//===================== We know =============
section.we-know.pt-120
	.container
		.section-title
			.title-88 We know things about
		.we-know-cards
			.we-know-cards__col
				.thing-card
					.thing-card__title 
						p Solar panels
					.thing-card__img
						img(src="./img/panel.png", width="260" alt="solar_panel")
				.thing-card.bg-yellow
					.thing-card__title 
						p Heat pumps
					.thing-card__img
						img(src="./img/pump.png", width="260" alt="pumps")
			.we-know-cards__col
				.thing-card
					.thing-card__title 
						p Bathroom and Kitchen improvement
					.thing-card__img
						img(src="./img/kitchen.png", width="590" alt="kitchen")
			.we-know-cards__col
				.thing-card.thing-card--flex.bg-aqua
					.thing-card__title 
						p Glazing
					.thing-card__img
						img(src="./img/glazing.png", width="260" alt="Glazing")
			.we-know-cards__col
				.thing-card.thing-card--flex.bg-white
					.thing-card__title 
						p Home chargers
						span for electric cars
					.thing-card__img
						img(src="./img/charger.png", width="260" alt="charger")

