//===================== We know =============
section.we-know.pt-120
	.container
		.section-title
			.title-88 We know things about
		.we-know-cards
			.we-know-cards__col
				.thing-card
					.thing-card__title 
						p Solar panels
					.thing-card__img
						img(src="./img/panel.png", width="260" alt="solar_panel")
				.thing-card.bg-yellow
					.thing-card__title 
						p Heat pumps
					.thing-card__img
						img(src="./img/pump.png", width="260" alt="pumps")
			.we-know-cards__col
				.thing-card
					.thing-card__title 
						p Bathroom and Kitchen improvement
					.thing-card__img
						img(src="./img/kitchen.png", width="590" alt="kitchen")
			.we-know-cards__col
				.thing-card.thing-card--flex.bg-aqua
					.thing-card__title 
						p Glazing
					.thing-card__img
						img(src="./img/glazing.png", width="260" alt="Glazing")
			.we-know-cards__col
				.thing-card.thing-card--flex.bg-white
					.thing-card__title 
						p Home chargers
						span for electric cars
					.thing-card__img
						img(src="./img/charger.png", width="260" alt="charger")

//====================== REWIEW ===========
section.reviews.pt-120
	.container
		.section-title
			.title-88 Latest reviews
			.text-24 made by home improvement experts and authors
		
		.card-link-wrapper
			.card-link-wrapper__left

				.card-link-banner.text-center(style="background-image: url(./img/review-banner.jpg)")
					.card-link-banner__text
						.rating-block(data-rating="5")
							span
							span
							span
							span
							span
						.title-44 Adventure homes
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive to afford
			.card-link-wrapper__right
				a(href="#!").card-link
					.card-link__left
						.text-24 TRU Homes
						.rating-block(data-rating="5")
							span
							span
							span
							span
							span
						p Specialize in energy efficient homes with high insulation that provide very comfortable temperature inside a house
					.card-link__right
						img(src="./img/post1.jpg", width="280" height="176"  alt="")
				a(href="#!").card-link
					.card-link__left
						.text-24 Champion Home Builders
						
						.rating-block(data-rating="4")
							span
							span
							span
							span
							span
						
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive 
					
					.card-link__right
						img(src="./img/post2.jpg", width="280" height="176"  alt="")
				
				a(href="#!").card-link
					.card-link__left
						.text-24 Fleetwood Homes
						.rating-block(data-rating="3")
							span
							span
							span
							span
							span
						p Specialize in energy efficient homes with high insulation that provide very comfortable temperature inside a house
					.card-link__right
						img(src="./img/post3.jpg", width="280" height="176"  alt="")

//====================== POPPULARE ===========
section.popular.pt-120
	.container
		.section-title
			.title-88 Latest reviews
			.text-24 made by home improvement experts and authors
		
		.card-link-wrapper
			//================= left block ============
			.card-link-wrapper__left
				.card-link-banner.text-center(style="background-image: url(./img/article-banner.jpg)")
					.card-link-banner__text
						.title-44 How Professionals Estimate Kitchen Remodeling Costs
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive to afford
			
			//================= right block ============
			.card-link-wrapper__right
				
				//============= single card ==============
				a(href="#!").card-link
					.card-link__left
						.text-24 Counter Depth Refrigerator Dimensions Guide
						
						p Specialize in energy efficient homes with high insulation that provide very comfortable
					.card-link__right
						img(src="./img/post1.jpg", width="280" height="176"  alt="")
				
				//============= single card ==============
				a(href="#!").card-link
					.card-link__left
						.text-24 How to Repair a Clogged Garbage Disposal
						
						p The company’s philosophy is simple: Quality and Comfort does not have to be expensive to afford and to enjoy
					
					.card-link__right
						img(src="./img/post2.jpg", width="280" height="176"  alt="")
				
				
				//============= single card ==============
				a(href="#!").card-link
					.card-link__left
						.text-24 Pros and Cons of Marble Flooring in Kitchens
						
						p Specialize in energy efficient homes with high insulation that provide very comfortable temperature inside a house
					.card-link__right
						img(src="./img/post3.jpg", width="280" height="176"  alt="")

		//==========section button==========
		.button-wrapper.text-center.mt-50
			a(href="#!").btn-round
				span Check all articles
				span.arrowRight
		//===============number cards =============
		.number-cards-wrapper.wrapper--reverse
			
			.card-bg(style="background-image: url(./img/card-bg.jpg);")
				.text-24 Members receive great discounts, get quotes <br> from top home improvement companies and more
				a.btn-round.btn-round--yellow(href="#!")
					span Sign up now
					span.arrowRight
			
			.number-card
				.text-94 256
				.text-24 home improvement articles and guides 
			
			.number-card.number-card--light
				.text-94 76
				.text-24 home improvement company reviews

			