/*typografy*/
.title-96, .title-88, .title-48,.text-186, .text-94{
	font-family: $fd;
	font-weight: 900;
}
.title-96{
	font-size: 96px;
	line-height: 1.14;
}
.title-88{
	font-size: 88px;
	line-height: 1.14;
}
.title-48 {
	font-size: 48px;
    line-height: 1.12;
}
.title-38{
	font-size: 38px;
	font-weight: 500;
	font-family: $fc;
}
.text-186{
	font-size: 186px;
	line-height: 0.86;
}
.text-94{
	font-size: 94px;
	line-height: 0.85;
}
.text-24{
	font-size: 24px;
	line-height: 30px;
	font-family: $fc;
	font-weight: 500;
}
.text-green, .text-green>*{
	color: $green!important;
}
.mb-40{
	margin-bottom: 40px!important;
}
.p-120{
	padding-top: 120px;
}
.section-title{
	margin-bottom: 50px;
}