$fonts-path: '../fonts';
$fc:'Commissioner';
$fm:'Montserrat' ;
$fd:'Playfair Display';

$white:    #fff;
$gray-100: #F7F7F7; 
$gray-200: #e9ecef;
$gray-300: #DAE7EB; 
$gray-400: #C4C4C4; 
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529;
$black:    #000;

$blue:    #348AA7;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c;
$red:     #EB5757 ;
$orange:  #fd7e14 ;
$yellow:  #FFCF56 ;
$yellow-light: #EDEAD0 ;
$green:   #00B886 ;
$greenDark: #00926a; ;
$teal:    #20c997 ;