.brend-card{
	background: #FFFFFF;
    border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	max-height: 100px;
	min-height: 100px;
	padding: 20px;
	img{
		width: auto;
		max-width: unset;
		height: 60px;
		object-fit: contain;
	}
}
.brend-cards-wrapper{
	display: flex;
	&>*+*{margin-left: 30px;}
}