extends ../layouts/layout.pug

block content
	include ../blocks/_aside-menu
	main.home-page
		include ../sections/_header.pug
		include ../sections/_home-page-header.pug
		include ../sections/_we-know.pug
	
	
	
	
block variables
	-var title = "Main";
