extends ../layouts/layout.pug

block content
	include ../blocks/_aside-menu
	include ../sections/_header.pug
	main.home-page
		include ../sections/_home-page-header.pug
		include ../sections/_we-know.pug
		include ../sections/_review-cards.pug
		include ../sections/_popular.pug
		include ../sections/_number-card-bottom.pug
	
	
	
	
block variables
	-var title = "Main";
